@import "../partials/Colors";


.project {


    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;


    background: $beige;

    .project-image {
        object-fit: cover;
        height: 100%;


    }

    .overlay {
        color: white;
        padding: 10px;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background-color: #000;
        opacity: 0;
        transition: all 0.6s ease-in-;

        h1 {
            font-size: 4em;
        }
    }

    .plus {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $red;
        width: 50px;
        height: 50px;
        box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: all .4s ease-in-out;
        z-index: 0;



        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            width: 15px;
            height: 15px;
            border-left: 3px solid white;
            border-top: 3px solid white;



        }

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            width: 3px;
            height: 18px;
            background-color: white;
            transform: translate(-0.5px, -8px) rotate(-45deg)
        }
    }

    &:hover {
       
        .plus {
            opacity: 1;

            animation: spin 5s infinite linear;

            @keyframes spin {
                0% {

                    transform: translate(-50%, -50%)rotate(45deg)
                }

                100% {



                    transform: translate(-50%, -50%) rotate(360deg)
                }
            }

            ;
        }

        .overlay {
            opacity: 0.7
        }

    }
}

.detail {
    width: 100%;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;





    .header {
        position: absolute;
        color: white;


        object-fit: cover;

        width: 100%;
        height: 75%;

        transform: translate3d(0, -105%, 0);
        transition: all 0.6s ease-in 0.4s;
        overflow: hidden;

        +div {
            padding: 40px;
            width:100%;
            overflow-y: auto;
        }
    }

    .close {
        position: absolute;
        z-index: 3;
        width: 50px;
        height: 50px;
        top: 10px;
        right: 10px;
        background-color: $beige;
        border-radius: 50%;
        cursor: pointer;
        transform: translateY(-150%);
        transition: background 0.3s ease-in-out, transform 0.5s ease-in;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            width: 16px;
            height: 3px;
            background-color: $red;
        }

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            width: 3px;
            height: 16px;
            background-color: $red;

        }

        &:hover {
            background-color: white;

            &:after,
            &:before {
                background-color: $red;
            }

        }

    }

    .information {
        position: absolute;
        background-color: $beige;
        display: flex;
        align-items: center;

        bottom: 0px;

        width: 100%;
        height: 25%;

        transform: translate3d(0, 105%, 0);
        transition: all 0.6s ease-in 0.4s;

        .links {



            z-index: 3;
            display: flex;
            justify-content: space-around;
            z-index: 3;
            width: 100%;
            ;
   
          

            img {
                align-self: center;
            }

            .badge {
                opacity: 0;
                position: absolute;
                background-color: $brown !important;
                font-size: 0.8em;
                width: 100%;

            }

          a,div{
                display: flex;
                opacity: 0;
                max-width: 50px;
                max-height: 50px;
                background-color: $beige;
                box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                border: 1.5px solid white;
                object-fit: cover;
                transition: 1s ease-in-out;
                overflow: hidden;
                cursor: pointer;
                transform: scale(1.5);
                transition: all .4s ease-in-out;



            }


        }




    }


    &.active {

        pointer-events: all;


        .header {
            transform: translate3d(0, 0, 0);
            transition: all 0.4s ease-in 0.4s;

        }

        .information {
            transform: translate3d(0, 0, 0);
            transition: all 0.4s ease-in 0.4s;
        }

        .close {

            transform: rotate(45deg) translate3d(0, 0, 0);
            transition: background 0.3s ease-in-out, transform 0.6s ease-out 0.6s;

        }

        .links>a {
            opacity: 1;
            transform: scale(1);

            &:hover {
                transform: scale(1.5);

                .badge {
                    opacity: 1;
                }
            }






        }


    }



}