@use 'sass:math';
@import "../partials/Colors.scss";

$divider:5;


.animated-eye-wrapper{
 
    display: inline;
    position:relative;


}
.animated-eye {

    position: absolute;
    background: $background-color;
    top: -18px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    z-index: 5;
    width: (400/$divider)+px;
    height: (400/$divider)+px;

    display: flex;
    justify-content: center;
    align-items: center;

    .eye {


        position: relative;
        width: (200/$divider)+px;
        height: (200/$divider)+px;
        background: #D9D8D8;
        border-radius: 100% 0;
        transform: rotate(45deg);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden
    }

    .iris {
        width: (130/$divider)+px;
        height: (130/$divider)+px;
        background: radial-gradient(circle, rgba(63, 171, 251, 1) 28%, rgba(55, 193, 222, 1) 54%, rgba(52, 175, 210, 1) 65%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        animation: eyeball 5s infinite
    }

    .pupil {

        width:( 40/$divider)+px;
        height:( 40/$divider)+px;
        background-color: #0d3552;
        border-radius: 50%;

    }

    .eye-lid-top {

        position: absolute;
        top:( 40/$divider)+px;
        width: (300/$divider)+px;
        height: (100/$divider)+px;
        background: $background-color;
        z-index: 1;
        animation: top 5s ease-in-out infinite
    }

    .eye-lid-bottom {
        position: absolute;
        bottom:( 40/$divider)+px;
        width: (300/$divider)+px;
        height: (100/$divider)+px;
        z-index: 1;
        background: $background-color;
        animation: bottom 5s ease-in-out infinite
    }

    @keyframes top {

        0%,
        18%,
        22%,
        50%,
        55%,
        80%,
        88% {
            transform: translateY(0px);
        }

        20%,
        53%,
        84% {
            transform: translateY((100/$divider)+px);
        }
    }

    @keyframes bottom {

        0%,
        18%,
        22%,
        50%,
        55%,
        80%,
        88% {
            transform: translateY(0px);
        }

        20%,
        53%,
        84% {
            transform: translateY((-20/$divider)+px);
        }
    }

    @keyframes eyeball {

        0%,
        10%,
        53%,
        60%,
        73% {
            transform: scale(1.1) translate(0);
        }

        15%,
        30% {
            transform: translate((-10/$divider)+px,( 50/$divider)+px);
        }

        34%,
        50% {
            transform: translate((-30/$divider)+px, 0px);
        }

        64%,
        70% {
            transform: translate((50/$divider)+px, (-20/$divider)+px);
        }
    }

}