

// .navbar-collapse{
//     //     position: absolute;
//     // right: 0px;
    
//     // top:0px;
//     // margin-left:auto;
//     // background-color: white;
//     // padding: 5px;
    
        
//     }

.navbar {
    .bg-body-tertiary {
    
        --bs-bg-opacity: 0;
        
    }
    .download_cv{
        color:rgb(188, 161, 40);
        font-weight: bolder;
    } 
}





#projects-row{
    >div{padding:4px}
}
