.my-jumbotron {
    padding: 30px;
    margin-top: 20px;

}

.my-jumbotron h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 20px
}

.skills-section {
    background-color: beige
}

.html {
    background-image: url("https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white");
}

.css {
    border:1px black solid;
    background-repeat: no-repeat;
    background-image: url("https://img.shields.io/badge/CSS-239120?&style=for-the-badge&logo=css3&logoColor=white")
}
#skill-set{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}


