@import "../Animations/AnimatedEye";
@import "../../Components/partials/SlidingText.scss";
@import "../partials/Colors";

.dark-wrapper {

    background-color: whitesmoke;
    filter: invert(1) hue-rotate(180deg);
  img{
      filter: invert(1) hue-rotate(180deg);
  
    }
    .icon-img{
        filter:none
    }
    
  }

  

.navbar {

    &.bg-body-tertiary {

        --bs-bg-opacity: 0;

    }

    .navbar-collapse {
        flex-grow: 0;


    }

    .download_cv {
        color: rgb(188, 161, 40);
        font-weight: bolder;
    }
}



.first-row {
    min-height: 75vh;

}


.my-jumbotron {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-bottom: 20px
    }

padding-top: 30px;
padding-bottom: 30px;
    margin-top: 20px;

    &:not(.icon) {
        font-size: $font-size;
    }

    line-height: $font-size*1.5;

   

    .jumbotron-body {
        display: flex;
        flex-wrap: wrap;
    }

   

    .icon {
        font-size: 1.5em;
     
        color: rgb(0, 0, 0);
        transition: 0.2s ease-in-out;
        cursor: pointer;
        

        &:hover {
          
            transform: scale(1.1);
            &:nth-child(2){
                color: $red;
            }
            &:nth-child(3){
                color: $navy;
            }
        

        }
    }
    .contacts{ 
        width:100%;
        display:flex;
        justify-content: space-around;
        align-items:center;

    }



}



.skills-section {
    background-color:$beige;
}

#skill-set {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .skill-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        margin:10px;

   
      
        &:hover{
     
            animation: hop 0.5s linear;

            @keyframes hop {
                0% {

                    transform: rotate(0deg) scale(1.1)
                }
               25%{
                    transform: rotate(10deg) scale(1.1)

                }
                50%{
                    transform: rotate(-10deg)scale(1.1)

                }
                

                100% {



                    transform:  rotate(0deg)scale(1)
                }
            }
        }

        img {
            width: 100%;


        }
    }
}







#projects-row {
    margin-top: 30px;
    padding-top: 30px;
    >div {
        padding: 4px
    }
}