
$font-size:1.2em;
$line-height:$font-size*1.5;
@import "../Animations/AnimatedEye";
@import "../../Components/partials/SlidingText.scss";
@import "../partials/Colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700;800&family=Reem+Kufi:wght@400;500;600&display=swap');


body {
    overflow-x: hidden;
 
    background-color: $background-color;
    background: rgb(233,223,206);
    background: radial-gradient(circle, rgba(233,223,206,1) 0%, rgba(255,255,255,0.6561743341404358) 75%);
    // background: rgb(233,223,206);
    // background: radial-gradient(circle, rgba(233,223,206,1) 0%, rgba(30,83,117,0.6561743341404358) 75%, rgba(237,172,196,1) 100%);

    font-family: 'Montserrat', sans-serif;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-bottom: 20px
    }


}

.dark-wrapper {
    background-color: $background-color;
    filter: invert(1) hue-rotate(180deg);

    img:not(.icon-img) {
        filter: invert(1) hue-rotate(180deg);

    }

    .skill-icon {
        filter: invert(1) hue-rotate(180deg);
    }

    .animated-eye .eye {

        filter: invert(1) hue-rotate(180deg);


    }




}



.navbar {
    .container {
        padding: 0px;
    }

    &.bg-body-tertiary {

        --bs-bg-opacity: 0;

    }

    .navbar-collapse {
        flex-grow: 0;


    }

    .download_cv {
        color: rgb(188, 161, 40);
        font-weight: bolder;
    }
}





.my-jumbotron {
    font-size:2em;
  


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-bottom: 20px
    }
   


    padding-bottom: 30px;

    .scroll-icon{
       
        position:absolute;
  bottom:20%;
 left:75%;
    font-size:0.3em;
   

     svg{
        font-size:3em;
        animation: light 2s linear alternate infinite;
        @keyframes light{
            0%{color:gray}
          
            100%{color: rgb(203, 159, 159)}
        }
        
     }
    }

    &:not(.icon) {
        // font-size: $font-size;
    }

    &:not(.skills-section){
        position:relative;
      height: 100vh;
    }
    line-height:  $line-height;



 



    .icon {
        font-size: 40px;

        color: rgb(0, 0, 0);
        transition: 0.2s ease-in-out;
        cursor: pointer;


        &:hover {

            transform: scale(1.1);

            &:nth-child(2) {
                color: $red;
            }

            &:nth-child(3) {
                color: $navy;
            }


        }
    }

    .contacts {

        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }



}





#skill-set {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .skill-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 14px 0 rgba(0, 0, 0, 0.5);
        padding: 10px;
        display: flex;
        align-items: center;
        margin: 10px;



        &:hover {

            animation: hop 0.5s linear;

            @keyframes hop {
                0% {

                    transform: rotate(0deg) scale(1.1)
                }

                25% {
                    transform: rotate(10deg) scale(1.1)
                }

                50% {
                    transform: rotate(-10deg)scale(1.1)
                }


                100% {



                    transform: rotate(0deg)scale(1)
                }
            }
        }

        img {
            width: 100%;


        }
    }
}







#projects-row {
    margin-top: 30px;
    padding-top: 30px;

    >div {
        padding: 4px
    }
}

.form-check-input {
    &:focus {

        border-color: $yellow !important;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(182, 124, 38, 0.25);

    }

    &:checked {
        background-color: #930946;
        border-color: #930946
    }
}