.sliding-wrapper {
    position: relative;
    // height: $font-size*1.5;
    width: fit-content;
   
    


    .primary-sliding-wrapper {
        position: relative;
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
    }

    .blank-div {
        position: absolute;
        overflow: hidden;
        padding-left: 3px;
        padding-right: 3px;
        height:  $line-height;
        z-index: 4;
        width: max-content;

        top: -11px;
        bottom: 0px;
        right: 0px;
        left: 0px;


        .sliding-parent {

font-weight:bolder;
            color: $orange;
            animation: slide 6s ease-in-out infinite alternate-reverse; 

            @keyframes slide {

                0%,
                30% {
                    transform: translateY(0);
                }

                35%,
                65% {
                    transform: translateY( $line-height * -1);
                }

                ;

                70%,
                100% {
                    transform: translateY( $line-height * -2)
                }

                ;
            }

     


        }
    }

}